NEXT_PUBLIC_API_URL= // URL to your backend service (strapi)
NEXT_PUBLIC_FRONTEND_URL= // URL to where this is hosted
COOKIE_NAME= // The name of the Cookie in the browser
JWT_CRYPT_KEY= // random string to encrypt the jwt key
DEFAULT_CURRENCY= // The currency that should be used per Default in the Currency dropdown - Defaults to 'USD'
DEFAULT_LOCALE= // The default locale for the frontend - Defaults to 'en'