html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
.separator {
  display: flex;
  align-items: center;
  text-align: center;
}

.separator::before,
.separator::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #ddd;
}

.separator:not(:empty)::before {
  margin-right: 0.25em;
}

.separator:not(:empty)::after {
  margin-left: 0.25em;
}

.is-half {
  width: 50%;
}

.content-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.page-content {
  flex: 1;
}

.pointer {
  cursor: pointer;
}

.overflow-scroll {
  overflow-x: scroll;
  overflow-y: visible;
}

/* button.tooltip-bottom {
  z-index: 10000;
} */
