@charset "utf-8";
@import "../node_modules/bulma/sass/utilities/initial-variables.sass";

$navbar-item-img-max-height: 2.5rem;
$navbar-breakpoint: $tablet;
$switch-background-active: $grey-lighter;

@import "../node_modules/bulma/bulma.sass";
@import "bulma-switch";

// @import "../node_modules/bulma-steps/bulma-steps.sass";

[data-theme="dark"] {
  @import "darkImport.scss";
  background-color: $body-background-dark;
}

.loading {
  @include loader;
}

.avatarInner {
  border: 1px solid rgba(0, 0, 0, 0) !important;
  cursor: pointer;
  border-radius: 50%;
}

.avatarOuter {
  border: 2px solid rgba(0, 0, 0, 0) !important;
  border-radius: 50%;
  height: 42px;
  width: 42px;
  cursor: pointer;
}

.avatarOuter:hover {
  border: 2px solid $primary !important;
}

.backgroundGradient {
  background-image: linear-gradient(to bottom, $info 0%, rgba(0, 0, 0, 0) 35%);
}

.background-gradient-primary-info {
  background-image: linear-gradient(to right, $primary-light, $info-light);
}

.background-gradient-success-link {
  background-image: linear-gradient(to right, $success-light, $link-light);
}

.background-gradient-warning-danger {
  background-image: linear-gradient(to right, $warning-light, $danger-light);
}

.background-gradient-primary-right {
  background-image: linear-gradient(to right, $primary, $primary-light);
}

.background-gradient-link-right {
  background-image: linear-gradient(to right, $link, $link-light);
}

.background-gradient-info-right {
  background-image: linear-gradient(to right, $info, $info-light);
}

.background-gradient-warning-right {
  background-image: linear-gradient(to right, $warning, $warning-light);
}

$collapse-transition-speed: 0.4s !default;
$collapse-transition-style: ease !default;
$message-body-padding: 1.25em 1.5em !default;

.is-collapsible {
  transition: height $collapse-transition-speed $collapse-transition-style;
  transition: padding 0.3s $collapse-transition-style;
  //   transition: all 1s ease;
}

.is-collapsible.is-collapsed {
  height: 0;
  overflow-y: hidden;
  padding: 0;
  transition: height $collapse-transition-speed $collapse-transition-style;
  transition: padding 0.3s $collapse-transition-style;
}
